/*tabの形状*/
.tab {
  width: 1100px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: absolute;
  top: 580px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.tab li {
  width: 240px;
  height: 30px;
}
.tab li a {
  text-align: center;
  display: block;
  background: rgb(227, 219, 216);
  border-radius: 10px;
  font-size: 18px;
  color: rgb(60, 47, 24);
  font-family: sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a {
  background-image: url(../images/bg_stripe.svg);
  background-size: 30px;
}

/*エリアの表示非表示と形状*/
.area {
  display: none; /*はじめは非表示*/
  opacity: 0; /*透過0*/
  background: rgb(229, 219, 219);
  background-image: url(../images/bg_stripe.svg);
  background-size: 30px;
  padding: 50px 20px;
  width: 1200px;
  height: 1300px;
  border-radius: 20px;
  position: absolute;
  top: 660px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.area ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1050px;
  margin: 70px auto;
  gap: 45px;
}
.menu_img {
  width: 300px;
  height: 200px;
}
.menu_info {
  width: 300px;
  height: 60px;
  text-align: justify;
  letter-spacing: 2px;
  font-size: 14px;
}
.menu_in {
  font-weight: 800;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.menu_price {
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: 2px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block; /*表示*/
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
